{%  raw %}#include <stdint.h>
#include <math.h>
#include <algorithm>
#include <stdio.h>
#include <array>
#include <stdlib.h>
#include <stddef.h>
#include <string>
#include <sys/types.h>
#include <sys/stat.h>
#include <unistd.h>
#include <dirent.h>

#include <iostream>
#include <fstream>
#include <random>
#include <sstream>
#include <iterator>
#include <filesystem>

#include <chrono>
#include <ctime>

#include <bits/stdc++.h>
using namespace std;
{% endraw %}
